
<!--
html, body, #tbl_wrap { height: 100%; width: 100%; padding: 0; margin: 0; }
#td_wrap { vertical-align: bottom; text-align: center; }
#td_wrap_inner { vertical-align: top; text-align: center; }
-->

@font-face {
    font-family: 'prospectusstd_regregular';
    src: url('https://qltyvibe.github.io/css/fonts/prospectusstdreg-webfont.woff2') format('woff2'),
         url('https://qltyvibe.github.io/css/fonts/rospectusstdreg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'prospectus_stdbold';
    src: url('https://qltyvibe.github.io/css/fonts/prospectusstdbld-webfont.woff2') format('woff2'),
         url('https://qltyvibe.github.io/css/fonts/prospectusstdbld-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'prospectus_stdblack';
    src: url('https://qltyvibe.github.io/css/fonts/prospectusstdblk-webfont.woff2') format('woff2'),
         url('https://qltyvibe.github.io/css/fonts/prospectusstdblk-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'prospectus_std_msemibold';
    src: url('https://qltyvibe.github.io/css/fonts/prospectusstdsbd-webfont.woff2') format('woff2'),
         url('https://qltyvibe.github.io/css/fonts/prospectusstdsbd-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {background-color: rgb(12, 12, 12);}
.title{
    font-family: prospectus_stdblack, Helvetica, sans-serif;
    font-size: 2250%;
    text-shadow:0 0 0.00em white 
}
.subheading{
    font-size: 300%;
    text-shadow:0 0 0.075em white 
}
      
.loader {
    font-family: prospectus_stdblack, Helvetica, sans-serif;
    padding: 0; margin: 0;
    height: 100%;
    width: 100%;
    position:absolute;
    vertical-align: middle;
    text-align: center;
    color: #000;
    font-size: 5000%;
}
#loadingDiv {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:white;
}





